%h2
	= @article.title
%p
	= @article.visit_count	
%div
	= @article.body

%h3 Comentarios
= render "comments/form"

%ul
	- @article.comments.each do |comment|
		%li
			= comment.body
			= comment.user.email

= link_to "Editar", edit_article_path(@article)	
